.profile-parent-circle{
    filter:drop-shadow(0 4px 10px rgb(0, 0, 0,0.15)); 
}
.profile-circle-shadows{
    margin: 0 auto;
    filter:drop-shadow(0 4px 10px rgb(0, 0, 0,0.15)); 
}
.profile-small-circle{
    height:30vmax;
    width: 40vmax;
    padding:10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    top: -10vh;
    shape-outside: circle();
    clip-path: circle();
    background-color: var(--items_blue);
    }
    .profile-picture{
        margin: 0 auto;
        height: 30vh;
        width: 30vh;
        shape-outside: circle();
        clip-path: circle();
        background: var(--profile_color);
    }
   .profile-frameworks{
    display: flex;
    justify-content: space-around;
   }
  